In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("C:/Users/Dell/Desktop/python/final_data.csv")

In [3]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Website,Address,Phone_No,Latitude,Longitude,Known_For2,Known_For22
0,Rustom's,"Parsi, Street Food, North Indian, Desserts, Be...",2100,"ITO, New Delhi",4.9,1885,4.4,1844,https://www.zomato.com/ncr/rustoms-ito-new-delhi,"Delhi Parsi Anjuman, LNJP Colony, Bahadur Shah...",9.20E+11,28.638167,77.240472,NaN,NaN
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,"Pragati Maidan, New Delhi",4.9,3748,3.9,37,https://www.zomato.com/ncr/cafe-lota-pragati-m...,"National Crafts Museum, Gate 2, Bhairon Marg, ...",9.18E+11,28.613429,77.242471,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan...","Artistic Decor, The Service, Natural Ambience,..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,"ITC Maurya, Chanakyapuri, New Delhi",4.9,1371,NaN,0,https://www.zomato.com/ncr/dum-pukht-itc-maury...,"ITC Maurya, Chanakyapuri, New Delhi",9.11E+11,28.598200,77.173661,"Royal ambiance and Mughlai cuisine, also recei...",NaN
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,"Cyber Hub, DLF Cyber City, Gurgaon",4.9,2636,4.4,1238,https://www.zomato.com/ncr/burma-burma-dlf-cyb...,"Shop 6, Ground Floor, Building 8, Tower C, Cyb...",9.11E+11,28.494464,77.088532,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim...","Knowledgeable Staff, Authentic, Soothing Ambie..."
4,The Big Chill,"Continental, American, Italian",1500,"Khan Market, New Delhi",4.9,6487,NaN,0,https://www.zomato.com/ncr/the-big-chill-khan-...,"68-A, Khan Market, New Delhi",9.11E+11,28.600350,77.227493,"Irish Cream Tiramisu, Penne Vodka, Mississippi...","Retro Ambience, Yummy Desserts, Big Portions, ..."

In [4]:
data.duplicated().any()

np.False_

In [5]:
data.isnull().any()

Restaurant_Name          False
Category                 False
Pricing_for_2            False
Locality                 False
Dining_Rating            False
Dining_Review_Count      False
Delivery_Rating           True
Delivery_Rating_Count    False
Website                  False
Address                  False
Phone_No                 False
Latitude                 False
Longitude                False
Known_For2                True
Known_For22               True
dtype: bool

In [6]:
data.columns

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Locality',
       'Dining_Rating', 'Dining_Review_Count', 'Delivery_Rating',
       'Delivery_Rating_Count', 'Website', 'Address', 'Phone_No', 'Latitude',
       'Longitude', 'Known_For2', 'Known_For22'],
      dtype='object')

In [7]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Website,Address,Phone_No,Latitude,Longitude,Known_For2,Known_For22
0,Rustom's,"Parsi, Street Food, North Indian, Desserts, Be...",2100,"ITO, New Delhi",4.9,1885,4.4,1844,https://www.zomato.com/ncr/rustoms-ito-new-delhi,"Delhi Parsi Anjuman, LNJP Colony, Bahadur Shah...",9.20E+11,28.638167,77.240472,NaN,NaN
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,"Pragati Maidan, New Delhi",4.9,3748,3.9,37,https://www.zomato.com/ncr/cafe-lota-pragati-m...,"National Crafts Museum, Gate 2, Bhairon Marg, ...",9.18E+11,28.613429,77.242471,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan...","Artistic Decor, The Service, Natural Ambience,..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,"ITC Maurya, Chanakyapuri, New Delhi",4.9,1371,NaN,0,https://www.zomato.com/ncr/dum-pukht-itc-maury...,"ITC Maurya, Chanakyapuri, New Delhi",9.11E+11,28.598200,77.173661,"Royal ambiance and Mughlai cuisine, also recei...",NaN
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,"Cyber Hub, DLF Cyber City, Gurgaon",4.9,2636,4.4,1238,https://www.zomato.com/ncr/burma-burma-dlf-cyb...,"Shop 6, Ground Floor, Building 8, Tower C, Cyb...",9.11E+11,28.494464,77.088532,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim...","Knowledgeable Staff, Authentic, Soothing Ambie..."
4,The Big Chill,"Continental, American, Italian",1500,"Khan Market, New Delhi",4.9,6487,NaN,0,https://www.zomato.com/ncr/the-big-chill-khan-...,"68-A, Khan Market, New Delhi",9.11E+11,28.600350,77.227493,"Irish Cream Tiramisu, Penne Vodka, Mississippi...","Retro Ambience, Yummy Desserts, Big Portions, ..."

In [8]:
data.columns

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Locality',
       'Dining_Rating', 'Dining_Review_Count', 'Delivery_Rating',
       'Delivery_Rating_Count', 'Website', 'Address', 'Phone_No', 'Latitude',
       'Longitude', 'Known_For2', 'Known_For22'],
      dtype='object')

In [9]:
data.isnull().any()

Restaurant_Name          False
Category                 False
Pricing_for_2            False
Locality                 False
Dining_Rating            False
Dining_Review_Count      False
Delivery_Rating           True
Delivery_Rating_Count    False
Website                  False
Address                  False
Phone_No                 False
Latitude                 False
Longitude                False
Known_For2                True
Known_For22               True
dtype: bool

In [10]:
data['Delivery_Rating'].fillna(data['Delivery_Rating'].mean(), inplace= True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10132\1231668890.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Delivery_Rating'].fillna(data['Delivery_Rating'].mean(), inplace= True)

In [11]:
data.isna().sum()

Restaurant_Name            0
Category                   0
Pricing_for_2              0
Locality                   0
Dining_Rating              0
Dining_Review_Count        0
Delivery_Rating            0
Delivery_Rating_Count      0
Website                    0
Address                    0
Phone_No                   0
Latitude                   0
Longitude                  0
Known_For2               405
Known_For22              841
dtype: int64

In [12]:
data['Known_For']= data.apply(
    lambda row : ','.join(filter(pd.notna, [row['Known_For2'], row['Known_For22']])), axis= 1
)

In [13]:
data.columns

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Locality',
       'Dining_Rating', 'Dining_Review_Count', 'Delivery_Rating',
       'Delivery_Rating_Count', 'Website', 'Address', 'Phone_No', 'Latitude',
       'Longitude', 'Known_For2', 'Known_For22', 'Known_For'],
      dtype='object')

In [14]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Website,Address,Phone_No,Latitude,Longitude,Known_For2,Known_For22,Known_For
0,Rustom's,"Parsi, Street Food, North Indian, Desserts, Be...",2100,"ITO, New Delhi",4.9,1885,4.400000,1844,https://www.zomato.com/ncr/rustoms-ito-new-delhi,"Delhi Parsi Anjuman, LNJP Colony, Bahadur Shah...",9.20E+11,28.638167,77.240472,NaN,NaN,
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,"Pragati Maidan, New Delhi",4.9,3748,3.900000,37,https://www.zomato.com/ncr/cafe-lota-pragati-m...,"National Crafts Museum, Gate 2, Bhairon Marg, ...",9.18E+11,28.613429,77.242471,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan...","Artistic Decor, The Service, Natural Ambience,...","Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,"ITC Maurya, Chanakyapuri, New Delhi",4.9,1371,3.964299,0,https://www.zomato.com/ncr/dum-pukht-itc-maury...,"ITC Maurya, Chanakyapuri, New Delhi",9.11E+11,28.598200,77.173661,"Royal ambiance and Mughlai cuisine, also recei...",NaN,"Royal ambiance and Mughlai cuisine, also recei..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,"Cyber Hub, DLF Cyber City, Gurgaon",4.9,2636,4.400000,1238,https://www.zomato.com/ncr/burma-burma-dlf-cyb...,"Shop 6, Ground Floor, Building 8, Tower C, Cyb...",9.11E+11,28.494464,77.088532,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim...","Knowledgeable Staff, Authentic, Soothing Ambie...","Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
4,The Big Chill,"Continental, American, Italian",1500,"Khan Market, New Delhi",4.9,6487,3.964299,0,https://www.zomato.com/ncr/the-big-chill-khan-...,"68-A, Khan Market, New Delhi",9.11E+11,28.600350,77.227493,"Irish Cream Tiramisu, Penne Vodka, Mississippi...","Retro Ambience, Yummy Desserts, Big Portions, ...","Irish Cream Tiramisu, Penne Vodka, Mississippi..."

In [15]:
data= data.drop(columns= ['Known_For2', 'Known_For22'])

In [16]:
data.columns

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Locality',
       'Dining_Rating', 'Dining_Review_Count', 'Delivery_Rating',
       'Delivery_Rating_Count', 'Website', 'Address', 'Phone_No', 'Latitude',
       'Longitude', 'Known_For'],
      dtype='object')

In [17]:
data.isnull().any()

Restaurant_Name          False
Category                 False
Pricing_for_2            False
Locality                 False
Dining_Rating            False
Dining_Review_Count      False
Delivery_Rating          False
Delivery_Rating_Count    False
Website                  False
Address                  False
Phone_No                 False
Latitude                 False
Longitude                False
Known_For                False
dtype: bool

In [18]:
data['Known_For'].unique()

array(['',
       'Pondicherry Fish Curry, Coconut Rabdi, Sabudana Pop Corn, Chicken Pasanda, Majestic Chicken, Bhapa Doi,Artistic Decor, The Service, Natural Ambience, Fusion Menu, Serene Ambience, Fusion Food',
       'Royal ambiance and Mughlai cuisine, also received the "Times Food Award 2015" for Culinary Heritage',
       ...,
       'Excellent Food, Good Ambience, Courteous Staff, Awesome Food, Great Food, Ambiance',
       'Pool, Live Music, Cafe, Environment, Good Place, Staff',
       'Cordial Staff, Great Recommendations, Mouth Watering Food, Reasonable Prices, Quantity, Ambience'],
      dtype=object)

In [19]:
data['Known_For'].isnull().any()

np.False_

In [20]:
import numpy as np

In [21]:
data.replace('', np.nan, inplace= True)

In [22]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Website,Address,Phone_No,Latitude,Longitude,Known_For
0,Rustom's,"Parsi, Street Food, North Indian, Desserts, Be...",2100,"ITO, New Delhi",4.9,1885,4.400000,1844,https://www.zomato.com/ncr/rustoms-ito-new-delhi,"Delhi Parsi Anjuman, LNJP Colony, Bahadur Shah...",9.20E+11,28.638167,77.240472,NaN
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,"Pragati Maidan, New Delhi",4.9,3748,3.900000,37,https://www.zomato.com/ncr/cafe-lota-pragati-m...,"National Crafts Museum, Gate 2, Bhairon Marg, ...",9.18E+11,28.613429,77.242471,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,"ITC Maurya, Chanakyapuri, New Delhi",4.9,1371,3.964299,0,https://www.zomato.com/ncr/dum-pukht-itc-maury...,"ITC Maurya, Chanakyapuri, New Delhi",9.11E+11,28.598200,77.173661,"Royal ambiance and Mughlai cuisine, also recei..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,"Cyber Hub, DLF Cyber City, Gurgaon",4.9,2636,4.400000,1238,https://www.zomato.com/ncr/burma-burma-dlf-cyb...,"Shop 6, Ground Floor, Building 8, Tower C, Cyb...",9.11E+11,28.494464,77.088532,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
4,The Big Chill,"Continental, American, Italian",1500,"Khan Market, New Delhi",4.9,6487,3.964299,0,https://www.zomato.com/ncr/the-big-chill-khan-...,"68-A, Khan Market, New Delhi",9.11E+11,28.600350,77.227493,"Irish Cream Tiramisu, Penne Vodka, Mississippi..."

In [23]:
data.isnull().any()

Restaurant_Name          False
Category                 False
Pricing_for_2            False
Locality                 False
Dining_Rating            False
Dining_Review_Count      False
Delivery_Rating          False
Delivery_Rating_Count    False
Website                  False
Address                  False
Phone_No                 False
Latitude                 False
Longitude                False
Known_For                 True
dtype: bool

In [24]:
data.isna()

,Restaurant_Name,Category,Pricing_for_2,Locality,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Website,Address,Phone_No,Latitude,Longitude,Known_For
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1960,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1961,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1962,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1963,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1964,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [25]:
data['Known_For'].isnull().sum()

np.int64(405)

In [26]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [27]:
data= data.dropna()

In [28]:
data= data.drop(columns= ['Locality', 'Longitude', 'Latitude', 'Address', 'Phone_No', 'Website'])

In [29]:
data= data.dropna()

In [30]:
data.isnull().any()

Restaurant_Name          False
Category                 False
Pricing_for_2            False
Dining_Rating            False
Dining_Review_Count      False
Delivery_Rating          False
Delivery_Rating_Count    False
Known_For                False
dtype: bool

In [31]:
data.shape

(1560, 8)

In [32]:
data.columns

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Dining_Rating',
       'Dining_Review_Count', 'Delivery_Rating', 'Delivery_Rating_Count',
       'Known_For'],
      dtype='object')

In [33]:
data.to_csv('cleaned_dataset_2.csv', index= False)

In [34]:
data['Delivery_Rating'].replace('3.964299424', '4', inplace= True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10132\34515647.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Delivery_Rating'].replace('3.964299424', '4', inplace= True)

In [35]:
data.to_csv('cleaned_data.csv', index= False)

In [36]:
data.head(10)

,Restaurant_Name,Category,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Known_For
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,4.9,3748,3.900000,37,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,4.9,1371,3.964299,0,"Royal ambiance and Mughlai cuisine, also recei..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,4.9,2636,4.400000,1238,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
4,The Big Chill,"Continental, American, Italian",1500,4.9,6487,3.964299,0,"Irish Cream Tiramisu, Penne Vodka, Mississippi..."
5,Carnatic Cafe,South Indian,600,4.9,2518,4.200000,931,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R..."
6,"Cocktails & Dreams, Speakeasy","Nepalese, Tibetan, Beverages",2500,4.9,1299,3.800000,25,"Classic Martini, Coktails, Bloody Mary, Calama..."
7,Natural Ice Cream,"Ice Cream, Desserts",400,4.9,4014,4.500000,6969,"Watermelon Ice Cream, Choco Bite, Chocobite, C..."
8,Kuremal Mohan Lal Kulfi Wale,"Ice Cream, Desserts",200,4.9,1120,3.964299,5,"Orange Kulfi, Jamun Kulfi, Mixed Fruit, Fruit ..."
9,Juggernaut,"South Indian, North Indian, Fast Food, Dessert...",700,4.8,2480,4.200000,573,"Podi Ghee Idli, Chettinad Idli, Ganne Ka Ras, ..."
10,Comorin,"North Indian, Desserts, Beverages",2500,4.8,803,4.400000,217,"Champaran Style Mutton, Gunpowder Idli, Coktai..."

In [37]:
data['Delivery_Rating'].replace(3.964299, 4, inplace= True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10132\509840344.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Delivery_Rating'].replace(3.964299, 4, inplace= True)

In [38]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Known_For
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,4.9,3748,3.900000,37,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,4.9,1371,3.964299,0,"Royal ambiance and Mughlai cuisine, also recei..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,4.9,2636,4.400000,1238,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
4,The Big Chill,"Continental, American, Italian",1500,4.9,6487,3.964299,0,"Irish Cream Tiramisu, Penne Vodka, Mississippi..."
5,Carnatic Cafe,South Indian,600,4.9,2518,4.200000,931,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R..."

In [39]:
data.dtypes

Restaurant_Name           object
Category                  object
Pricing_for_2              int64
Dining_Rating            float64
Dining_Review_Count        int64
Delivery_Rating          float64
Delivery_Rating_Count      int64
Known_For                 object
dtype: object

In [40]:
data['Delivery_Rating'].dtype

dtype('float64')

In [41]:
data['Delivery_Rating'].unique()

array([3.9       , 3.96429942, 4.4       , 4.2       , 3.8       ,
       4.5       , 4.1       , 4.3       , 3.2       , 3.7       ,
       3.4       , 3.5       , 4.        , 3.6       , 3.3       ,
       2.9       , 3.1       , 3.        ])

In [42]:
data['Delivery_Rating'].replace(3.96429942, 4, inplace= True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10132\1299653508.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Delivery_Rating'].replace(3.96429942, 4, inplace= True)

In [43]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Known_For
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,4.9,3748,3.900000,37,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,4.9,1371,3.964299,0,"Royal ambiance and Mughlai cuisine, also recei..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,4.9,2636,4.400000,1238,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
4,The Big Chill,"Continental, American, Italian",1500,4.9,6487,3.964299,0,"Irish Cream Tiramisu, Penne Vodka, Mississippi..."
5,Carnatic Cafe,South Indian,600,4.9,2518,4.200000,931,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R..."

In [44]:
data['Delivery_Rating'].replace(3.96429942, 4, inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10132\3147817399.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Delivery_Rating'].replace(3.96429942, 4, inplace=True)

In [45]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Known_For
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,4.9,3748,3.900000,37,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,4.9,1371,3.964299,0,"Royal ambiance and Mughlai cuisine, also recei..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,4.9,2636,4.400000,1238,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
4,The Big Chill,"Continental, American, Italian",1500,4.9,6487,3.964299,0,"Irish Cream Tiramisu, Penne Vodka, Mississippi..."
5,Carnatic Cafe,South Indian,600,4.9,2518,4.200000,931,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R..."

In [46]:
tolerance = 1e-6  # Adjust the tolerance as necessary

data['Delivery_Rating'] = data['Delivery_Rating'].apply(
    lambda x: 4 if abs(x - 3.96429942) < tolerance else x
)

In [47]:
data.head()

,Restaurant_Name,Category,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Known_For
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,4.9,3748,3.9,37,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
2,Dum-Pukht - ITC Maurya,"Mughlai, North Indian, Desserts",5000,4.9,1371,4.0,0,"Royal ambiance and Mughlai cuisine, also recei..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,4.9,2636,4.4,1238,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
4,The Big Chill,"Continental, American, Italian",1500,4.9,6487,4.0,0,"Irish Cream Tiramisu, Penne Vodka, Mississippi..."
5,Carnatic Cafe,South Indian,600,4.9,2518,4.2,931,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R..."

In [48]:
data['Delivery_Rating_Count'].unique()

array([  37,    0, 1238, ...,  545, 2977, 5196])

In [49]:
data['Delivery_Rating_Count'].mean()

np.float64(3305.0705128205127)

In [50]:
data[data['Delivery_Rating_Count']==0].value_counts()

Restaurant_Name                  Category                                                            Pricing_for_2  Dining_Rating  Dining_Review_Count  Delivery_Rating  Delivery_Rating_Count  Known_For
360° -  The Oberoi               Italian, Continental, North Indian, Mediterranean                   5000           4.1            249                  4.0              0                      Great for Dates, Worth the Price, Hospitality, Great Service, Decor, Ambiance                                                                                                                               1
@ Links - Radisson Blu           Finger Food, Pizza, Beverages                                       4500           3.9            187                  4.0              0                      Chilli Paneer Dosa, Rava Butter Masala Dosa, Mysore Masala Dosa, Dal Makhni, Momos,Good for Large Groups, Comfortable Seating Area, Family Crowd, Quick Service, Reasonable Price, Hygiene                  1
Aapka Bhojanalaya                North Indian, Chinese, Fast Food                                    250            4.0            314                  4.0              0                      Good Crowd, Great Recommendations, Low Price, Great Ambience, Good Taste, Packing                                                                                                                           1
Amaranta - The Oberoi            Modern Indian, Seafood, North Indian                                7000           4.2            183                  4.0              0                      Worth the Price, Pool, Fantastic Place, Great Hospitality, Cutlery, Appetizers                                                                                                                              1
Amrik Sukhdev                    North Indian, Chinese, South Indian, Street Food                    400            4.2            1994                 4.0              0                      Aloo Stuffed Paratha, Salted Lassi, Paneer Samosa, Imarti, Aloo Pyaz Parantha, Tandoori Paratha,Themed Decor, Good for Large Groups, Table Service, Good Quality Good Service, Loved it, Parking Space      1
                                                                                                                                                                                                                                                                                                                                                                                                           ..
Yellow Brick Road - Ambassador   Continental, North Indian, South Indian, Italian, Beverages         3500           4.3            1045                 4.0              0                      Get a complimentary night, earn up to 50% of spends as points at 250+ restaurants & much more. Know more                                                                                                    1
Yellow Mirchi - Hotel City Park  North Indian                                                        2500           4.2            395                  4.0              0                      Classy Place, Live Music, Best Places, Great Ambience, Courteous Staff, Environment                                                                                                                         1
Yes Minister - Pub & Kitchen     North Indian, Continental, Italian                                  1800           4.0            873                  4.0              0                      Vanilla Creme Brulee, Chocolate Fudge, Cocktails, Dessert, Salad, Starters,Gastronomical Experience, Themed Decor, Ample Seating Area, Ambience was Super Cool, View, Manager                               1
Yi Jing                          Chinese, Asian                                                      2200           3.9            38                   4.0              0                      Rajma Rice, Masala Chaap, Chole Bhature, Lassi, Naan, Snacks,Family Crowd, Yummy Food, Tasty, Nice Place, Price, Quantity                                                                                   1
Zufruta Cafe & Juice Lounge      Italian, Mexican, Lebanese, Fast Food, Burger, Sandwich, Beverages  500            4.1            223                  4.0              0                      Paneer Dhaniya Adraki, Fried Mushrooms, Schezwan Rice, Authentic Punjabi Food, Egg Fried Rice, Chicken 65,Tasty Stuff, Happy Hour, Good Offers, Gastronomical Experience, Themed Decor, Friendly Service    1
Name: count, Length: 198, dtype: int64

In [51]:
data['Delivery_Rating_Count'].replace(0, np.nan, inplace= True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_10132\2752854418.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Delivery_Rating_Count'].replace(0, np.nan, inplace= True)

In [52]:
data['Delivery_Rating_Count'].dropna()

1         37.0
3       1238.0
5        931.0
6         25.0
7       6969.0
         ...
1960     545.0
1961       1.0
1962    2977.0
1963     196.0
1964    5196.0
Name: Delivery_Rating_Count, Length: 1362, dtype: float64

In [53]:
data.dropna()

,Restaurant_Name,Category,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Known_For
1,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,4.9,3748,3.9,37.0,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan..."
3,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,4.9,2636,4.4,1238.0,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim..."
5,Carnatic Cafe,South Indian,600,4.9,2518,4.2,931.0,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R..."
6,"Cocktails & Dreams, Speakeasy","Nepalese, Tibetan, Beverages",2500,4.9,1299,3.8,25.0,"Classic Martini, Coktails, Bloody Mary, Calama..."
7,Natural Ice Cream,"Ice Cream, Desserts",400,4.9,4014,4.5,6969.0,"Watermelon Ice Cream, Choco Bite, Chocobite, C..."
...,...,...,...,...,...,...,...,...
1960,Bablu Chic-Inn,"Mughlai, North Indian, Chinese, Fast Food",500,3.9,183,4.1,545.0,"Great Recommendations, Tamper Proof Packaging,..."
1961,Kovilakam,South Indian,350,3.9,114,4.0,1.0,"Kerala Parotta, Roasted Chicken, Chicken Curry..."
1962,Krips Restaurant,"North Indian, Chinese, Mughlai",900,3.9,316,3.9,2977.0,"Excellent Food, Good Ambience, Courteous Staff..."
1963,Cafe 147,"Cafe, North Indian, Chinese, Kashmiri, Rolls, ...",800,3.9,120,3.8,196.0,"Pool, Live Music, Cafe, Environment, Good Plac..."
1964,Pizzasia,"Pizza, Fast Food, Beverages",500,3.9,165,3.9,5196.0,"Cordial Staff, Great Recommendations, Mouth Wa..."

In [54]:
data.isnull().any()

Restaurant_Name          False
Category                 False
Pricing_for_2            False
Dining_Rating            False
Dining_Review_Count      False
Delivery_Rating          False
Delivery_Rating_Count     True
Known_For                False
dtype: bool

In [55]:
data.dropna(inplace= True)

In [56]:
data.shape

(1362, 8)

In [57]:
data['Delivery_Rating_Count'].unique

<bound method Series.unique of 1         37.0
3       1238.0
5        931.0
6         25.0
7       6969.0
         ...
1960     545.0
1961       1.0
1962    2977.0
1963     196.0
1964    5196.0
Name: Delivery_Rating_Count, Length: 1362, dtype: float64>

In [58]:
data.to_csv('cleaned_dataset.csv', index= False)

In [59]:
import pandas as pd 
import numpy as no

In [60]:
data2= pd.read_csv("C:/Users/Dell/Desktop/python/final_data.csv")

In [61]:
data3= data2[['Restaurant_Name','Locality']]

In [62]:
data3.isnull().any()

Restaurant_Name    False
Locality           False
dtype: bool

In [64]:
data.columns

Index(['Restaurant_Name', 'Category', 'Pricing_for_2', 'Dining_Rating',
       'Dining_Review_Count', 'Delivery_Rating', 'Delivery_Rating_Count',
       'Known_For'],
      dtype='object')

In [68]:
merged_data = pd.merge(data, data3, on= 'Restaurant_Name', how= 'inner')

In [70]:
merged_data.head()

,Restaurant_Name,Category,Pricing_for_2,Dining_Rating,Dining_Review_Count,Delivery_Rating,Delivery_Rating_Count,Known_For,Locality
0,Cafe Lota,"Cafe, South Indian, North Indian, Beverages",1200,4.9,3748,3.9,37.0,"Pondicherry Fish Curry, Coconut Rabdi, Sabudan...","Pragati Maidan, New Delhi"
1,Burma Burma,"Asian, Burmese, Bubble Tea, Desserts, Salad",1600,4.9,2636,4.4,1238.0,"Coconut Milk Dessert, Honey Caviar, Kaffir Lim...","Cyber Hub, DLF Cyber City, Gurgaon"
2,Carnatic Cafe,South Indian,600,4.9,2518,4.2,931.0,"Malleshwari Dosa, Benne Khali Dosa, Obbattu, R...","Lodhi Colony, New Delhi"
3,"Cocktails & Dreams, Speakeasy","Nepalese, Tibetan, Beverages",2500,4.9,1299,3.8,25.0,"Classic Martini, Coktails, Bloody Mary, Calama...","Sector 15, Gurgaon"
4,Natural Ice Cream,"Ice Cream, Desserts",400,4.9,4014,4.5,6969.0,"Watermelon Ice Cream, Choco Bite, Chocobite, C...","Connaught Place, New Delhi"

In [73]:
merged_data.isnull().any().any()

np.False_